<table
  style='background-color: {{bg-color}}; color: {{text-color}} ;width: 100%; text-align: center; padding: 20px;'
>
  <tr>
    <td>
      <img src='cid:logo' alt='logo' style='width: 200px;' />
    </td>
  </tr>
  <tr>
    <td>
      <p style='font-size: 20px; margin: 5px;'>{{title}}</p>
    </td>
  </tr>
</table>